/* MEDIA QUERIES */
/* CONTAINERS */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Open+Sans");
.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*COLORS*/
html {
  font-size: 16px;
  line-height: 1.4; }

body {
  position: relative;
  max-width: 100%;
  color: #1b1b1b;
  background-color: #1b1b1b;
  background-image: url(../img/side-a.jpg); }

/*IMAGE PRELOADING*/
#preload {
  background-image: url(../img/side-a.jpg);
  background-image: url(../img/side-b.jpg);
  background-image: url(../img/about.jpg);
  background-image: url(../img/works.jpg);
  background-image: url(../img/connect.jpg);
  background-image: url(../img/project-side-a.jpg);
  background-image: url(../img/project-side-b.jpg);
  width: 0px;
  height: 0px;
  display: inline; }

/*CONTAINERS*/
.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 1rem; }

/* .content {
	position: relative;
	width: 320px;
	display: flex;
	flex-flow: row wrap;
	padding-top: 200px;
	text-align: center;
	
		@include large-mobile {
			width: 360px;
			padding-top: 100px;
		}
		
		@include tablet {
			width: 768px;
			padding: 0;
		}
		
		@include laptop {
			width: 512px;
			padding-left: 20px;
			padding-top: 180px;
		}
		
		@include desktop {
			width: 683px;
			padding-left: 60px;
		}
		
		@include fullscreen {
			width: 840px;
			padding-left: 80px;
		}
		
		@include large-display {
			width: 990px;
		}
} */
.content-works {
  display: block;
  width: 80%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .content-works {
      width: 100%;
      padding: 8px; } }
  @media screen and (min-width: 1024px) {
    .content-works {
      width: 80%;
      padding: 12px; } }
  @media screen and (min-width: 1680px) {
    .content-works {
      width: 100%;
      margin-left: 1rem;
      padding: 36px; } }
  @media screen and (min-width: 1920px) {
    .content-works {
      margin-left: 4.618rem; } }

.figure {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 8px; }
  @media screen and (min-width: 768px) {
    .figure {
      float: left; } }
  @media screen and (min-width: 1024px) {
    .figure {
      margin-left: 4.618rem; } }
  @media screen and (min-width: 1366px) {
    .figure {
      margin-left: 0; } }

.figure img, .preview img {
  max-width: 100%; }

.title {
  background-color: #fff;
  opacity: 0;
  width: 250px;
  height: 250px;
  padding: 1.618rem; }

.figure:hover .title {
  opacity: 0.75;
  text-align: center; }

.preview {
  margin: 0 auto; }

.project-content {
  width: 90%;
  margin: 0 auto; }

/*HEADER*/
.header {
  position: relative;
  width: 100%;
  height: 280px;
  text-align: center; }

/*SECTIONS*/
.section-header {
  display: block;
  position: relative;
  width: 100%;
  height: 75vh;
  background-image: url(../img/side-a.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    .section-header {
      height: 66vh; } }
  @media screen and (min-width: 1024px) {
    .section-header {
      display: none; } }

.section-mobile-about, .section-mobile-works, .section-mobile-connect {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1024px) {
    .section-mobile-about, .section-mobile-works, .section-mobile-connect {
      display: none; } }

.section-mobile-about {
  background-image: url(../img/about.jpg);
  padding-bottom: 220px; }
  @media screen and (min-width: 768px) {
    .section-mobile-about {
      padding-bottom: 260px; } }

.section-mobile-works {
  background-image: url(../img/works.jpg); }

.section-mobile-connect {
  background-image: url(../img/connect.jpg);
  padding-bottom: 220px; }

.footer {
  color: #f7f7f7;
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .footer {
      display: none; } }

/*ITEMS*/
.image-1 {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0; }
  @media screen and (min-width: 768px) {
    .image-1 {
      width: 280px; } }
  @media screen and (min-width: 1024px) {
    .image-1 {
      width: 300px;
      position: relative; } }
  @media screen and (min-width: 1366px) {
    .image-1 {
      width: 280px; } }
  @media screen and (min-width: 1680px) {
    .image-1 {
      width: 400px; } }
  @media screen and (min-width: 1920px) {
    .image-1 {
      width: 420px; } }

.image-2 {
  width: 320px;
  height: auto;
  margin-left: -20px; }
  @media screen and (min-width: 360px) {
    .image-2 {
      width: 360px; } }
  @media screen and (min-width: 768px) {
    .image-2 {
      width: 600px;
      margin-left: 0; } }
  @media screen and (min-width: 1024px) {
    .image-2 {
      width: 440px;
      margin-left: -40px; } }
  @media screen and (min-width: 1366px) {
    .image-2 {
      width: 550px; } }
  @media screen and (min-width: 1680px) {
    .image-2 {
      width: 640px; } }
  @media screen and (min-width: 1920px) {
    .image-2 {
      width: 800px; } }

.image-3 {
  width: 320px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0; }
  @media screen and (min-width: 360px) {
    .image-3 {
      width: 360px; } }
  @media screen and (min-width: 768px) {
    .image-3 {
      width: 660px; } }
  @media screen and (min-width: 1024px) {
    .image-3 {
      width: 500px;
      position: relative; } }
  @media screen and (min-width: 1366px) {
    .image-3 {
      width: 600px; } }
  @media screen and (min-width: 1680px) {
    .image-3 {
      width: 720px; } }
  @media screen and (min-width: 1920px) {
    .image-3 {
      width: 800px; } }

.image-1 img, .image-2 img, .image-3 img {
  max-width: 100%; }

.animation {
  width: 200px; }
  @media screen and (min-width: 768px) {
    .animation {
      width: 300px; } }
  @media screen and (min-width: 1920px) {
    .animation {
      width: 400px; } }

.projects {
  float: right; }

.projects:after {
  clear: right; }

/*ANIMATION*/
@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*MOBILE NAV */
.mobile-nav {
  display: block;
  width: 100%;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000; }
  @media screen and (min-width: 1024px) {
    .mobile-nav {
      display: none; } }

.mobile-nav ul {
  text-align: center; }

.mobile-nav li {
  display: inline;
  padding: 0.618rem;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    .mobile-nav li {
      font-size: 1.25rem;
      padding: 2.618rem; } }

.menu-controller-checkbox {
  display: none; }

.slide-left .menu-controller-checkbox ~ ul {
  transition: left .5s ease; }
.slide-left .menu-controller-checkbox:checked ~ ul {
  left: 0; }

.slide-left {
  display: block; }
  @media screen and (min-width: 1024px) {
    .slide-left {
      display: none; } }
  .slide-left label {
    color: #22a3e9;
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.5rem 0 0 0.5rem;
    width: 2rem;
    margin: 0; }

.mobile-menu {
  background-image: url(../img/nav.jpg);
  height: 80px;
  left: -100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  @media screen and (min-width: 768px) {
    .mobile-menu {
      height: 64px;
      background-color: #fff; } }
  .mobile-menu li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    display: inline-block;
    line-height: 2;
    padding: 0 0.4rem; }
    @media screen and (min-width: 360px) {
      .mobile-menu li {
        padding: 0 0.618rem; } }
    @media screen and (min-width: 768px) {
      .mobile-menu li {
        padding: 0 1.618rem 0 4rem; } }

.menu-controller-label .fa-bars {
  padding: 0.35rem 0;
  margin: 0; }

/* LAPTOP+ NAV */
.vertical-nav-position {
  width: 100%;
  position: absolute;
  bottom: 17%;
  left: 0; }
  @media screen and (min-width: 1024px) {
    .vertical-nav-position {
      bottom: 18%; } }
  @media screen and (min-width: 1680px) {
    .vertical-nav-position {
      bottom: 23%; } }

/*SOCIAL NAVIGATION*/
@media screen and (min-width: 1024px) {
  .social-nav {
    z-index: 100; } }

@media screen and (min-width: 360px) {
  .social-nav ul {
    margin-left: 1rem; } }
@media screen and (min-width: 768px) {
  .social-nav ul {
    margin: 0; } }
@media screen and (min-width: 1024px) {
  .social-nav ul {
    margin-left: 0.618rem; } }
@media screen and (min-width: 1920px) {
  .social-nav ul {
    margin-left: 0; } }

.social-nav li {
  display: inline-block;
  font-size: 2rem;
  padding: 1.333rem; }
  @media screen and (min-width: 360px) {
    .social-nav li {
      padding: 1.618rem; } }
  @media screen and (min-width: 768px) {
    .social-nav li {
      font-size: 2.618rem;
      padding: 3.25rem; } }
  @media screen and (min-width: 1024px) {
    .social-nav li {
      font-size: 1.618rem;
      padding: 2rem; } }
  @media screen and (min-width: 1366px) {
    .social-nav li {
      font-size: 2rem;
      padding: 3rem; } }
  @media screen and (min-width: 1680px) {
    .social-nav li {
      font-size: 2.5rem;
      padding: 4rem; } }
  @media screen and (min-width: 1920px) {
    .social-nav li {
      font-size: 2.618rem;
      padding: 4.618rem; } }

.social-nav a {
  color: #1b1b1b; }

.social-nav a:hover {
  color: #00ced1; }

/*WORKS NAV*/
.works-nav li {
  display: inline-block; }

/*GLOBALS*/
h1 {
  font-size: 3.25em;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.75rem; }
  @media screen and (min-width: 360px) {
    h1 {
      font-size: 3.5em; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3.618em; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2.618em; } }
  @media screen and (min-width: 1366px) {
    h1 {
      font-size: 3.375em; } }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 0.75em;
  padding: 1.5em 0 0.75em 0; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 1rem; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 0.75rem; } }

h5, figcaption {
  font-size: 0.5em;
  padding: 0.75em 0; }
  @media screen and (min-width: 1680px) {
    h5, figcaption {
      font-size: 0.75rem; } }

h1, h2, h3, h4, h5, li, figcaption {
  font-family: Poppins, sans-serif; }

label {
  font-weight: 600; }

h2, h3 {
  font-weight: 500;
  letter-spacing: 0.25rem;
  margin-bottom: 1.618rem; }

h4, h5, figcaption {
  font-weight: 600;
  margin: 0.5em 0;
  text-transform: uppercase;
  letter-spacing: 0.15rem; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: 1.25em; }
  @media screen and (min-width: 1680px) {
    p {
      font-size: 1.25em; } }

ul {
  list-style-type: none; }

li {
  font-weight: 300;
  line-height: 2; }

a {
  text-decoration: none;
  color: #1b1b1b; }

.content-grid a:hover {
  color: #22a3e9; }

label .fa-bars {
  font-size: 1.618em;
  padding: 0.618rem 0; }

.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  color: #000;
  font-size: 1em; }
  @media screen and (min-width: 1680px) {
    .vertical-text {
      font-size: 1.25em; } }

.vertical-text li {
  display: inline-block;
  padding: 0.25em 1.618em;
  font-weight: 500; }
  @media screen and (min-width: 1680px) {
    .vertical-text li {
      padding: 0 1.618em; } }

.vertical-text a:hover {
  color: #00ced1; }

.side-a h1, .section-header h1 {
  width: 100%;
  text-align: center; }

.side-a a:hover {
  color: #fff; }

.mobile-title {
  padding-top: 20px; }

.heading, .mobile-title {
  color: #22a3e9; }

.heading-2 {
  color: #f848f7; }

.heading, .heading-2 {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0.5rem;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .heading, .heading-2 {
      font-size: 1.25em;
      padding-left: 1rem; } }
  @media screen and (min-width: 1024px) {
    .heading, .heading-2 {
      font-size: 1em; } }
  @media screen and (min-width: 1920px) {
    .heading, .heading-2 {
      font-size: 1.618rem; } }

.container p {
  font-size: 1.25rem; }

.content-grid p {
  font-size: 1.15em;
  padding: 1rem 0 0 1.618rem; }
  @media screen and (min-width: 768px) {
    .content-grid p {
      font-size: 1.25rem; } }
  @media screen and (min-width: 1024px) {
    .content-grid p {
      font-size: 1rem; } }
  @media screen and (min-width: 1366px) {
    .content-grid p {
      font-size: 1.15rem; } }
  @media screen and (min-width: 1680px) {
    .content-grid p {
      font-size: 1.333rem; } }
  @media screen and (min-width: 1920px) {
    .content-grid p {
      font-size: 1.25rem; } }

.project-content h2 {
  padding: 2.618rem 0 0 0; }

.project-content p {
  padding: 0.618rem 0;
  margin: 0;
  width: 100%; }

.project-content p a:link, .project-content p a:visited {
  color: #ee5a35;
  font-weight: 500; }

.project-content a:hover {
  text-decoration: underline; }

.footer a:link, .footer a:visited {
  color: #f7f7f7;
  padding-right: 1rem; }

/*GLITCH EFFECT*/
.glitch:before, .glitch:after, .glitch a:link:before, .glitch a:link:after, .glitch a:visited:before, .glitch a:visited:after {
  color: #fff;
  display: block;
  content: 'Alex Ogden';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer; }
.glitch:after, .glitch a:link:after, .glitch a:visited:after {
  color: #f0f;
  z-index: 0;
  text-shadow: -1px 0 #0ff;
  background: transparent; }
.glitch:before, .glitch a:link:before, .glitch a:visited:before {
  color: #fff;
  z-index: 15;
  text-shadow: -1px 0 #d52b1e; }
.glitch:hover:before, .glitch a:link:hover:before, .glitch a:visited:hover:before {
  animation: glitch 2s both infinite linear alternate-reverse; }
.glitch:hover:after, .glitch a:link:hover:after, .glitch a:visited:hover:after {
  animation: glitch 0.75s linear; }

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  33% {
    -webkit-transform: translate(2px, 0);
    transform: translate(2px, 0); }
  50% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px); }
  66% {
    -webkit-transform: translate(-2px, 4px);
    transform: translate(-2px, 4px); }
  75% {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px); }
  100% {
    -webkit-transform: translate(-1px, 2px);
    transform: translate(-1px, 2px); }
  to {
    -webkit-transform: translate(0);
    transform: translate(0); } }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.main-grid, .main-project-grid {
  position: relative;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 40px 50% 50% 40px; }
  @media screen and (min-width: 1024px) {
    .main-grid, .main-project-grid {
      display: grid;
      grid-template-columns: 40px 48% auto 40px;
      grid-template-rows: 200px auto 200px; } }

/* .mobile-nav {
	display: grid;
	grid-area: vertical-nav;
	grid-row: 1;
	grid-column: 1;
	background-color: #fff;
} */
.side-a {
  display: none;
  position: relative;
  grid-column-start: 1;
  grid-row-start: 2;
  height: 50vh;
  background-image: url(../img/side-a.jpg);
  background-repeat: no-repeat;
  border-bottom: 1px dashed #fff; }
  @media screen and (min-width: 1024px) {
    .side-a {
      display: grid;
      grid-column-start: 2;
      grid-row-start: 1;
      height: 100vh;
      border-bottom: none;
      border-right: 1px dashed #fff; } }
  @media screen and (min-width: 1366px) {
    .side-a {
      border-right: 1.618px dashed #fff; } }

.side-b {
  display: none;
  position: relative;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: url(../img/side-b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .side-b {
      display: grid;
      height: 100vh;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      background-image: url(../img/side-b.jpg);
      background-repeat: no-repeat; } }

/*HEADING*/
.heading, .heading-2 {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2.618rem repeat(6, 2.618rem) auto;
  grid-row-gap: 0.618rem;
  grid-template-areas: "letter-1 letter-2 letter-3 letter-4 letter-5 letter-6 letter-7";
  padding: 1.618rem; }

.letter-1 {
  grid-area: letter-1;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  z-index: 1; }

.letter-2 {
  grid-area: letter-2;
  position: relative;
  grid-column: 1;
  grid-row: 2;
  z-index: 1; }

.letter-3 {
  grid-area: letter-3;
  position: relative;
  grid-column: 1;
  grid-row: 3;
  z-index: 1; }

.letter-4 {
  grid-area: letter-4;
  position: relative;
  grid-column: 1;
  grid-row: 4;
  z-index: 1; }

.letter-5 {
  grid-area: letter-5;
  position: relative;
  grid-column: 1;
  grid-row: 5;
  z-index: 1; }

.letter-6 {
  grid-area: letter-6;
  position: relative;
  grid-column: 1;
  grid-row: 6;
  z-index: 1; }

.letter-7 {
  grid-area: letter-7;
  position: relative;
  grid-column: 1;
  grid-row: 7;
  z-index: 1; }

/*GRID FOR ABOUT WORKS CONNECT */
.about-content:target, .works-content:target, .connect-content:target {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 10% repeat(9, 10%);
  grid-template-rows: 10% repeat(9, 10%);
  grid-template-areas: "content-grid image-grid content-grid-nav"; }

/*CONTENT*/
.content-grid {
  grid-area: content-grid;
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 1; }

.works-grid {
  display: grid;
  position: relative;
  width: 100%;
  margin: 0 auto;
  grid-column-template: 250px 250px 250px;
  grid-row-template: 250px 250px 250px; }

.image-grid-about {
  grid-area: image-grid;
  position: relative;
  width: 100%;
  grid-column-start: 4;
  grid-column-end: auto;
  grid-row-start: 7;
  grid-row-end: auto;
  z-index: 2; }
  @media screen and (min-width: 360px) {
    .image-grid-about {
      grid-column-start: 5;
      grid-row-start: 6; } }
  @media screen and (min-width: 768px) {
    .image-grid-about {
      grid-column-start: 6;
      grid-row-start: 5; } }
  @media screen and (min-width: 1024px) {
    .image-grid-about {
      grid-column-start: 4;
      grid-row-start: 5; } }
  @media screen and (min-width: 1366px) {
    .image-grid-about {
      grid-column-start: 6;
      grid-row-start: 6; } }
  @media screen and (min-width: 1680px) {
    .image-grid-about {
      grid-column-start: 6;
      grid-row-start: 6; } }
  @media screen and (min-width: 1920px) {
    .image-grid-about {
      grid-column-start: 6;
      grid-row-start: 5; } }

.image-grid-works {
  grid-area: image-grid;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: auto;
  grid-row-start: 8;
  grid-row-end: auto;
  z-index: 2; }
  @media screen and (min-width: 360px) {
    .image-grid-works {
      grid-row-start: 8; } }
  @media screen and (min-width: 768px) {
    .image-grid-works {
      grid-row-start: 7;
      grid-column-end: 9; } }
  @media screen and (min-width: 1366px) {
    .image-grid-works {
      grid-row-start: 6; } }
  @media screen and (min-width: 1680px) {
    .image-grid-works {
      grid-row-start: 7; } }
  @media screen and (min-width: 1920px) {
    .image-grid-works {
      grid-row-start: 6; } }

.image-grid-connect {
  grid-area: image-grid;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: auto;
  grid-row-start: 6;
  grid-row-end: auto;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .image-grid-connect {
      grid-column-start: 2;
      grid-row-start: 6; } }
  @media screen and (min-width: 1024px) {
    .image-grid-connect {
      grid-column-start: 1;
      grid-row-start: 5; } }
  @media screen and (min-width: 1366px) {
    .image-grid-connect {
      grid-column-start: 2;
      grid-row-start: 5; } }
  @media screen and (min-width: 1680px) {
    .image-grid-connect {
      grid-column-start: 2;
      grid-row-start: 5; } }
  @media screen and (min-width: 1920px) {
    .image-grid-connect {
      grid-column-start: 3;
      grid-row-start: 5; } }

/*CONNECT-NAV*/
.content-grid-connect {
  grid-area: content-grid;
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 1; }
  @media screen and (min-width: 768px) {
    .content-grid-connect {
      grid-column-start: 3;
      grid-row-start: 5; } }
  @media screen and (min-width: 1366px) {
    .content-grid-connect {
      grid-column-start: 3;
      grid-row-start: 4;
      padding: 0; } }
  @media screen and (min-width: 1920px) {
    .content-grid-connect {
      grid-column-start: 3; } }

/*VERTICAL NAVIGATION*/
.vertical-nav {
  display: none; }
  @media screen and (min-width: 1024px) {
    .vertical-nav {
      display: grid;
      grid-column-start: 1;
      grid-row-start: 1;
      background-image: url(../img/nav.jpg);
      height: 100vh; } }

.vertical-nav a {
  color: #000; }

/*PROJECT PAGE*/
.project-side-a {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 2;
  border-bottom: 1px dashed #fff; }
  @media screen and (min-width: 1024px) {
    .project-side-a {
      grid-column-start: 2;
      grid-row-start: 1;
      height: 100vh;
      border-bottom: none;
      border-right: 1px dashed #fff; } }
  @media screen and (min-width: 1366px) {
    .project-side-a {
      border-right: 1.618px dashed #fff; } }

.project-side-b {
  display: grid;
  position: relative;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: url(../img/side-b.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1024px) {
    .project-side-b {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1; } }

.about-content, .works-content, .connect-content {
  display: none; }

.about-content:target, .connect-content:target {
  display: grid;
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  padding: 1.618rem; }
  @media screen and (min-width: 1024px) {
    .about-content:target, .connect-content:target {
      animation: opacity 2s; } }

.about-content:target {
  background-image: url(../img/about.jpg);
  background-size: cover;
  height: 120vh; }
  @media screen and (min-width: 360px) {
    .about-content:target {
      height: 100vh; } }

.works-content:target {
  display: block;
  background-image: url(../img/works.jpg);
  background-size: cover;
  overflow: auto; }
  @media screen and (min-width: 768px) {
    .works-content:target {
      height: 100vh; } }

.connect-content:target {
  background-image: url(../img/connect.jpg);
  background-size: cover;
  height: 100vh; }
  @media screen and (min-width: 360px) {
    .connect-content:target {
      height: 120vh; } }
  @media screen and (min-width: 768px) {
    .connect-content:target {
      height: 100vh; } }

/*PROJECTS*/
.project-1, .project-2, .project-3, .project-4, .project-5, .project-6, .project-7, .project-8, .project-9 {
  display: none; }

.project-1:target, .project-2:target, .project-3:target, .project-4:target, .project-5:target, .project-6:target, .project-7:target, .project-8:target, .project-9:target {
  position: relative;
  display: block;
  width: 100%;
  overflow: auto;
  background-image: url(../img/project-side-b.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 1024px) {
    .project-1:target, .project-2:target, .project-3:target, .project-4:target, .project-5:target, .project-6:target, .project-7:target, .project-8:target, .project-9:target {
      height: 100vh;
      animation: opacity 1.618s; } }

/*GIF*/
.gif {
  display: none; }

.gif:target {
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: url(../img/origami_fox.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*# sourceMappingURL=css.css.map */
