.main-grid {
	position: relative;
	width: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 40px 50% 50% 40px;
		
		@include laptop {
			display: grid;
			grid-template-columns: 40px 48% auto 40px;
			grid-template-rows: 200px auto 200px;
		}
}

.side-a {
	display: none;
	position: relative;
	grid-column-start: 1;
	grid-row-start: 2;
	height: 50vh;
	background-image: url(../img/side-a.jpg);
	background-repeat: no-repeat;
	border-bottom: 1px dashed #fff;
	
		@include laptop {
			display: grid;
			grid-column-start: 2;
			grid-row-start: 1;
			height: 100vh;
			border-bottom: none;
			border-right: 1px dashed #fff;
		}
		
		@include desktop {
			border-right: 1.618px dashed #fff;
		}
}

.side-b {
	display: none;
	position: relative;
	grid-column-start: 1;grid-row-start: 3;
	grid-row-end: 5;
	background-image: url(../img/side-b.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	
		@include laptop {
			display: grid;
			height: 100vh;
			grid-column-start: 3;
			grid-column-end: 5;
			grid-row-start: 1;
			background-image: url(../img/side-b.jpg);
			background-repeat: no-repeat;
		}
}

/*VERTICAL NAVIGATION*/
.vertical-nav {
	display: none;
		
		@include laptop {
			display: grid;
			grid-column-start: 1;
			grid-row-start: 1;
			background-image: url(../img/nav.jpg);	
			height: 100vh;
		}
}

.vertical-nav a {
	color: #000;
}