.main-grid {
	position: relative;
	display: grid;
	width: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 40px 50% 50%;
	grid-template-areas:
	"vertical-nav side-a side-b";
		
		@include laptop {
			grid-template-columns: 40px 50% auto;
			grid-template-rows: 100%;
		}
}

.mobile-nav {
	grid-area: vertical-nav;
	grid-row: 1;
	grid-column: 1;
	background-color: #fff;
}

.side-a {
	position: relative;
	grid-area: side-a;
	grid-row: 2;
	grid-column: 1;
	height: 50vh;
	background-image: url(../img/side-a.jpg);
	background-repeat: no-repeat;
	border-bottom: 1px dashed #fff;
	
		@include laptop {
			grid-column: 2 / auto;
			grid-row: auto;
			height: 100vh;
			border-bottom: none;
			border-right: 1px dashed #fff;
		}
		
		@include desktop {
			border-right: 1.618px dashed #fff;
		}
}

.side-b {
	position: relative;
	grid-area: side-b;
	grid-row: 3;
	grid-column: 1;
	background-image: url(../img/side-b.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
		@include laptop {
			height: 100vh;
			grid-column-start: 3;
			grid-row-start: 1;
			background-image: url(../img/side-b.jpg);
			background-repeat: no-repeat;
		}
}


/*HEADING*/
.heading {
	position: absolute;
	top: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 2.618rem repeat(6, 2.618rem) auto;
	grid-row-gap: 0.618rem;
	grid-template-areas: 
	"letter-1 letter-2 letter-3 letter-4 letter-5 letter-6 letter-7";
}

.letter-1 {
	grid-area: letter-1;
	position: relative;
	grid-column: 1;
	grid-row: 1;
	align-self: start;
	z-index: 1;
}

.letter-2 {
	grid-area: letter-2;
	position: relative;
	grid-column: 1;
	grid-row: 2;
	align-self: start;
	z-index: 1;
}

.letter-3 {
	grid-area: letter-3;
	position: relative;
	grid-column: 1;
	grid-row: 3;
	align-self: start;
	z-index: 1;
}

.letter-4 {
	grid-area: letter-4;
	position: relative;
	grid-column: 1;
	grid-row: 4;
	align-self: start;
	z-index: 1;
}

.letter-5 {
	grid-area: letter-5;
	position: relative;
	grid-column: 1;
	grid-row: 5;
	align-self: start;
	z-index: 1;
}

.letter-6 {
	grid-area: letter-6;
	position: relative;
	grid-column: 1;
	grid-row: 6;
	align-self: start;
	z-index: 1;
}

.letter-7 {
	grid-area: letter-7;
	position: relative;
	grid-column: 1;
	grid-row: 7;
	align-self: start;
	z-index: 1;
}

/*GRID FOR ABOUT WORKS CONNECT */
.about-content:target, .works-content:target, .connect-content:target {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 10% repeat(9, 10%);
	grid-template-rows: 10% repeat(9, 10%);
	grid-template-areas: 
	"content-grid image-grid content-grid-nav"
}

/*CONTENT*/
.content-grid {
	grid-area: content-grid;
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 1.618rem;
	z-index: 3;
	grid-column-start: 1;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 8;
	
		@include tablet {
			grid-column-start: 3;
			grid-column-end: 9;
			grid-row-start: 1;
		}
		
		@include laptop {
			grid-column-start: 2;
			grid-column-end: 10;
			grid-row-start: 2;
		}
		
		@include desktop {
			grid-column-start: 3;
			grid-column-end: 10;
		}
		
		@include fullscreen {
			grid-column-start: 3;
			grid-column-end: 9;
			grid-row-start: 2;
		}
}

.image-grid {
	grid-area: image-grid;
	position: relative;
	width: 100%;
	grid-column-start: 4;
	grid-column-end: auto;
 	grid-row-start: 9;
	grid-row-end: auto;
	z-index: 2;
	justify-self: end;
		
		@include large-mobile {
			grid-column-start: 6;
			grid-row-start: 7;
		}
		
		@include tablet {
			grid-column-start: 6;
			grid-row-start: 5;
		}
		
		@include laptop {
			grid-column-start: 4;
			grid-row-start: 6;
		}

		@include desktop {
			grid-column-start: 5;
			grid-row-start: 5;
		}
		
		@include fullscreen {
			grid-column-start: 5;
			grid-row-start: 6;
		}
		
		@include large-display {
			grid-column-start: 5;
			grid-row-start: 5;
		}
}


/*CONTENT-NAV*/
.content-grid-nav {
	grid-area: content-grid;
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 1.618rem;
	z-index: 3;
	grid-column-start: 3;
	grid-column-end: 12;
	grid-row-start: 3;
	grid-row-end: auto;
	
		@include large-mobile {
			grid-column-start: 2;
		}
		
		@include tablet {
			grid-column-start: 3;
			grid-row-start: 2;
		}
		
		@include laptop {
			grid-row-start: 3;
		}
		
		@include desktop {
			grid-column-start: 3;
			grid-row-start: 4;
			padding: 0;
		}
		
		@include large-display {
			grid-column-start: 3;
		}
}


/*VERTICAL NAVIGATION*/
.vertical-nav {
	display: none;
	visibility: hidden;
	
		@include laptop {
			display: block;
			visibility: visible;
			grid-area: vertical-nav;
			grid-column: 1 / auto;
			background-image: url(../img/nav.jpg);		height: 100vh;
		}
}

.vertical-nav a {
	color: #000;
}