html {
	font-size: 16px;
	line-height: 1.4;
	overflow-x: hidden	
}

body {
	position: relative;
	max-width: 100%;
	color: $soft-black;
	background-color: $soft-black;
	background-image: url(../img/side-a.jpg);
}

/*IMAGE PRELOADING*/
#preload {
	background-image: url(../img/side-a.jpg);
	background-image: url(../img/side-b.jpg);
	background-image: url(../img/about.jpg);
	background-image: url(../img/works.jpg);
	background-image: url(../img/connect.jpg);
	background-image: url(../img/project-side-a.jpg);
	background-image: url(../img/project-side-b.jpg);
	width: 0px;
	height: 0px;
	display: inline; 
}


/*CONTAINERS*/
.centered-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container, .container-works, .container-mobile {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
}

.container-works {

	@include laptop {
		padding-left: 6.25rem;
		}
		
		@include desktop {
			padding: 2.5rem;
		}
		
		@include fullscreen {
			padding: 0.25rem;
		}
		
		@include large-display {
			padding-left: 4.618rem;
		}
}

.content-works {
	display: block;
	width: 250px;
	margin: 0 auto;
	
		@include tablet {
			width: 768px;
			padding: 8px;
		}
		
		@include laptop {
			width: 80%;
			padding: 12px;
		}
		
		@include fullscreen {
			width: 100%;
			margin-left: 1rem;
			padding: 36px;
		}
		
		@include large-display {
			margin-left: 4.618rem;
		}
}

.container-mobile {
	border-bottom: 1px dashed $soft-black;
}

/* Works Gallery Hover Effect */
.figure {
	position: relative;
	width: 250px;
	padding: 0 1em 1em 0;
	
		@include tablet {
			float: left;
		}
}

.figure img {
	max-width: 100%;
}

.thumb {
	display: block;
	width: 250px;
	height: auto;
	
	@include laptop {
		filter: none;
		transition: 0.8s ease;
		backface-visibility: hidden;
		border: 1px dashed $soft-white;
	}
}

.overlay {
	position: absolute;
	bottom: 16px;
	left: 0;
	max-width: 100%;
	height: 234px;
	background-color: hsla(148, 0%, 0%, 0.55);

	@include laptop {
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: transparent;
		opacity: 0;
		}
}

.figure:hover .thumb {
	
	@include laptop {
		filter: blur(1em);
		opacity: 0;
	}
}

.figure:hover .overlay {
	
	@include laptop {
		opacity: 1;
	}
}

.title {
	color: $soft-white;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.6;
	width: 234px;
	padding: 1rem;
	
		@include laptop {
			color: $soft-black;
			font-weight: 300;
			padding: 0.618rem;
			text-align: center;
		}
}

.preview {
	margin: 0 auto;
}

.illustration {
	float: right;
}

.illustration-mobile {
	padding-top: 2.618rem;
}

/*HEADER*/
.header {
	position: relative;
	width: 100%;
	height: 280px;
	text-align: center;
}

/*SECTIONS*/
.section-header {
	display: block;
	position: relative;
	width: 100%;
	height: 320px;
	background-image: url(../img/side-a.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-bottom: 1px dashed $soft-white;
	
		@include tablet {
			height: 480px;
		}
	
		@include laptop {
			display: none;
		}
}

.section-mobile-about, .section-mobile-works, .section-mobile-connect {
	display: block;	
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 1px dashed $soft-black;
	
			@include laptop {
			display: none;
		}
}

.section-mobile-about, .section-mobile-works {
	background-color: $off-white;
}

.section-mobile-connect {
	background-image: url(../img/connect.jpg);
}

.footer {
	color: $soft-white;
	padding: 1rem;
	
		@include laptop {
			display: none;
		}
}

/*ITEMS*/
.image-1 {
	width: 220px;
	height: auto;
	float: right;
	
		@include mobile-to-tablet {
			width: 260px;
		}
	
		@include tablet {
			width: 320px;
		}
		
		@include fullscreen {
			width: 400px;
		}
		
		@include large-display {
			width: 420px;
		}
}

.image-2 {
	width: 320px;
	height: auto;
		
		@include large-mobile {
			width: 360px;
		}
		
		@include mobile-to-tablet {
			width: 480px;
		}
		
		@include tablet {
			width: 600px;
		}
		
		@include laptop {
			width: 440px;
			margin-left: -6.25rem;
		}
		
		@include desktop {
			width: 550px;
			margin-left: -3rem;
		}
		
		@include fullscreen {
			width: 640px;
			margin-left: -2.5rem;
		}
		
		@include large-display {
			width: 800px;
			margin-left: -4.618rem;
		}
}

.image-3 {
	width: 300px;
	height: auto;
	float: right;
	
		@include large-mobile {
			width: 340px;
		}
		
		@include mobile-to-tablet {
			width: 440px;
		}
	
		@include tablet {
			width: 660px;		
		}
		
		@include laptop {
			width: 435px;
		}
		
		@include desktop {
			width: 550px;
		}
		
		@include fullscreen {
			width: 720px;
		}
		
		@include large-display {
			width: 800px;
		}
}

.image-1 img, .image-2 img, .image-3 img {
	max-width: 100%;
}

.animation {
	width: 200px;
	
		@include tablet {
			width: 300px;
		}
	
		@include large-display {
			width: 400px;
		}
}


/*ANIMATION*/
@keyframes opacity {
	from {
		opacity: 0;
	} 
	
	to {
		opacity: 1;
	}
}


