html {
	font-size: 16px;
	line-height: 1.4; 
}

body {
	position: relative;
	max-width: 100%;
	color: $soft-black;
	background-color: $soft-black;
	background-image: url(../img/side-a.jpg);
}

/*IMAGE PRELOADING*/
#preload {
	background-image: url(../img/side-a.jpg);
	background-image: url(../img/side-b.jpg);
	background-image: url(../img/about.jpg);
	background-image: url(../img/works.jpg);
	background-image: url(../img/connect.jpg);
	width: 0px;
	height: 0px;
	display: inline; 
}


/*CONTAINERS*/
.centered-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding-top: 300px;
}

.figure {
	width: 200px;
	height: 200px;
	float: left;
	border: 1px dashed #fff;
}

.figure img {
	max-width: 100%;
}



/*HEADER*/
.header {
	position: relative;
	width: 100%;
	height: 280px;
	text-align: center;
}

/*SECTIONS*/
.section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/wall-3.jpg);
}


/*PROJECTS*/
.project-1 {
	display: none;
	visibility: hidden;
}

.project-1:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.project-2 {
	display: none;
	visibility: hidden;
}

.project-2:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.project-3 {
	display: none;
	visibility: hidden;
}

.project-3:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.project-4 {
	display: none;
	visibility: hidden;
}

.project-4:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.project-5 {
	display: none;
	visibility: hidden;
}

.project-5:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.project-6 {
	display: none;
	visibility: hidden;
}

.project-6:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.project-7 {
	display: none;
	visibility: hidden;
}

.project-7:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.project-8 {
	display: none;
	visibility: hidden;
}

.project-8:target {
	position: relative;
	display: block;
	visiblilty: visible;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	height: 100vh;
	padding: 1.618rem;
}

.projects-content {
	height: 120vh;
	
		@include large-mobile {
			height: 100vh;
		}
}


/*ITEMS*/
.image-1 {
	width: 200px;
	height: auto;
	padding-top: 1rem;
	
		@include tablet {
			width: 320px;
		}
		
		@include laptop {
			width: 300px;
		}
		
		@include desktop {
			width: 280px;
		}
		
		@include fullscreen {
			width: 400px;
		}
		
		@include large-display {
			width: 420px;
		}
}

.image-2 {
	width: 260px;
	height: auto;
		
		@include large-mobile {
			width: 300px;
		}
	
		@include tablet {
			width: 450px;
		}
		
		@include laptop {
			width: 300px;
		}
		
		@include desktop {
			width: 400px;
		}
		
		@include fullscreen {
			width: 500px;
			margin-top: 4rem;
			margin-left: -1rem;
		}
		
		@include large-display {
			width: 560px;
			margin: 0;
		}
}

.image-3 {
	width: 260px;
	height: auto;
	
		@include large-mobile {
			width: 300px;
		}
	
		@include tablet {
			width: 420px;
		}
		
		@include laptop {
			width: 300px;
		}
		
		@include desktop {
			width: 350px;
		}
		
		@include fullscreen {
			width: 550px;
		}
		
		@include large-display {
			width: 600px;
		}
}

.image-1 img, .image-2 img, .image-3 img {
	max-width: 100%;
}

.animation {
	width: 200px;
	
		@include tablet {
			width: 300px;
		}
	
		@include large-display {
			width: 400px;
		}
}

.projects {
	float: right;
}

.projects:after {
	clear: right;
}

