html {
	font-size: 16px;
	line-height: 1.4; 
}

body {
	position: relative;
	max-width: 100%;
	color: $soft-black;
	background-color: $soft-black;
	background-image: url(../img/side-a.jpg);
}

/*IMAGE PRELOADING*/
#preload {
	background-image: url(../img/side-a.jpg);
	background-image: url(../img/side-b.jpg);
	background-image: url(../img/about.jpg);
	background-image: url(../img/works.jpg);
	background-image: url(../img/connect.jpg);
	background-image: url(../img/project-side-a.jpg);
	background-image: url(../img/project-side-b.jpg);
	width: 0px;
	height: 0px;
	display: inline; 
}


/*CONTAINERS*/
.centered-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
}

.content-works {
	display: block;
	width: 80%;
	margin: 0 auto;
	
		@include tablet {
			width: 100%;
			padding: 8px;
		}
		
		@include laptop {
			width: 80%;
			padding: 12px;
		}
		
		@include fullscreen {
			width: 100%;
			margin-left: 1rem;
			padding: 36px;
		}
		
		@include large-display {
			margin-left: 4.618rem;
		}
}

.works-wrapper {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

.figure {
	position: relative;
	width: 250px;
	height: 250px;
	margin:  0 auto;
	padding: 8px;
	
		@include tablet {
			float: left;
		}
		
		@include laptop {
			margin-left: 4.618rem;
		}
		
		@include desktop {
			margin-left: 0;
		}
}

.figure img, .preview img {
	max-width: 100%;
}

.title {
	background-color: #fff;
	opacity: 0;
	width: 250px;
	height: 250px;
	padding: 1.618rem;
}

.figure:hover .title {
	opacity: 0.75;
	text-align: center;
}

.preview {
	margin: 0 auto;
}

.project-content {
	width: 90%;
	margin: 0 auto;
}

.illustration {
	float: right;
}

.illustration-mobile {
	padding-top: 5rem;
}

/*HEADER*/
.header {
	position: relative;
	width: 100%;
	height: 280px;
	text-align: center;
}

/*SECTIONS*/
.section-header {
	display: block;
	position: relative;
	width: 100%;
	height: 320px;
	background-image: url(../img/side-a.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	border-bottom: 1px dashed $soft-white;
	
		@include tablet {
			height: 480px;
		}
	
		@include laptop {
			display: none;
		}
}

.section-mobile-about, .section-mobile-works, .section-mobile-connect {
	display: block;	
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-bottom: 1px dashed $soft-black;
	
			@include laptop {
			display: none;
		}
}

.section-mobile-about {
	background-image: url(../img/about.jpg);
}

.section-mobile-works {
	background-image: url(../img/works.jpg);
}

.section-mobile-connect {
	background-image: url(../img/connect.jpg);
}

.footer {
	color: $soft-white;
	padding: 1rem;
	
		@include laptop {
			display: none;
		}
}

/*ITEMS*/
.image-1 {
	width: 220px;
	height: auto;
	float: right;
	
		@include mobile-to-tablet {
			width: 260px;
		}
	
		@include tablet {
			width: 320px;
		}
		
		@include fullscreen {
			width: 400px;
		}
		
		@include large-display {
			width: 420px;
		}
}

.image-2 {
	width: 320px;
	height: auto;
		
		@include large-mobile {
			width: 360px;
		}
		
		@include mobile-to-tablet {
			width: 480px;
		}
		
		@include tablet {
			width: 600px;
		}
		
		@include laptop {
			width: 440px;
			margin-left: -1.618em;
		}
		
		@include desktop {
			width: 550px;
		}
		
		@include fullscreen {
			width: 640px;
		}
		
		@include large-display {
			width: 800px;
		}
}

.image-3 {
	width: 300px;
	height: auto;
	float: right;
	
		@include large-mobile {
			width: 340px;
		}
		
		@include mobile-to-tablet {
			width: 440px;
		}
	
		@include tablet {
			width: 660px;		
		}
		
		@include laptop {
			width: 435px;
		}
		
		@include desktop {
			width: 550px;
			margin-top: -75px;
		}
		
		@include fullscreen {
			width: 720px;
		}
		
		@include large-display {
			width: 800px;
		}
}

.image-1 img, .image-2 img, .image-3 img {
	max-width: 100%;
}

.animation {
	width: 200px;
	
		@include tablet {
			width: 300px;
		}
	
		@include large-display {
			width: 400px;
		}
}

.projects {
	float: right;
}

.projects:after {
	clear: right;
}

/*ANIMATION*/
@keyframes opacity {
	from {
		opacity: 0;
	} 
	
	to {
		opacity: 1;
	}
}


