/*MOBILE NAV */
.menu-controller-checkbox { display: none; }

.slide-left {
  .menu-controller-checkbox ~ ul { transition: left .5s ease; 
  }

  .menu-controller-checkbox:checked ~ ul { 
	left: 0; 
  }
}

.slide-left {
	position: relative;
		
		label {
		  color: $skyblue;
		  display: block;
		  font-size: 1.25rem;
		  position: absolute;
		  left: 0.5rem;
		  top: 0;
		  text-align: right;
		  width: 32px;
		  height: 32px;		  
		}
			
			@include laptop {
				display: none;
				visibility: hidden;
			}	
}

.mobile-menu {
    background-image: url(../img/nav.jpg);
    height: 180px;
    left: -100%;
    line-height: 2.618rem;
    position: absolute;
    top: 0;
    width: 100%;
	z-index: 1000;
	text-align: center;
	
		@include tablet {
			height: 40px;
			text-align: center;
			background-color: #fff;
		}
	
	li {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 1.25rem;
		display: block;
		
			@include tablet {
				display: inline-block;
				padding: 0 1.618rem;
			}
	}
}

.menu-controller-label .fa-bars{
	padding: 0.35rem 0;
	margin: 0;
}



/*LAPTOP+ NAV*/
.vertical-nav {
	display: none;
	visibility: hidden;
	
	@include laptop {
		display: block;
		visibility: visible;
	}
}


.vertical-nav-position {
	width: 100%;
	position: absolute;
	bottom: 17%;
	left: 0;
	
		@include laptop {
			bottom: 18%;
		}
		
		@include fullscreen {
			bottom: 23%;
		}
}