/*MOBILE NAV */
.mobile-nav {
	display: block;
	width: 100%;
	background-color: $skyblue;
	border-bottom: 1px dashed $soft-white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20000;
	
		@include laptop {
			display: none;
		}
}

.mobile-nav ul {
	text-align: center;
	height: 40px;
}

.mobile-nav li {
	display: inline-block;
	padding: 0.25rem 0.618rem;
	font-weight: 500;
	
		@include large-mobile {
			padding: 0.25rem 1rem;
		}
		
		@include mobile-to-tablet {
			font-size: 1.15rem;
			padding: 0.15rem 1.618rem;
		}
		
		@include tablet {
			font-size: 1.25rem;
			padding: 0 2rem;
		}
}

.mobile-nav li a:link, .mobile-nav li a:visited {
	color: $soft-white;
}


.menu-controller-checkbox { display: none; }

.slide-left {
  .menu-controller-checkbox ~ ul { transition: left .5s ease; 
  }

  .menu-controller-checkbox:checked ~ ul { 
	left: 0; 
  }
}

.slide-left {
	display: block;
				
		@include laptop {
			display: none;
		}	
	
		label {
			color: $skyblue;
			display: inline-block;
			font-size: 1.25rem;
			padding: 0.5rem 0 0 0.5rem;
			width: 2rem;
			margin: 0;
		}
}

.mobile-menu {
    background-image: url(../img/nav.jpg);
    height: 80px;
    left: -100%;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 1000;
	
		@include tablet {
			height: 64px;
			background-color: #fff;
		}
	
	li {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 1rem;
		display: inline-block;
		line-height: 2;
		padding: 0 0.4rem;
			
			@include large-mobile {
				padding: 0 0.618rem;
			}
		
			@include tablet {
				padding: 0 1.618rem 0 4rem;
			}
	}
}

.menu-controller-label .fa-bars{
	padding: 0.35rem 0;
	margin: 0;
}



/* LAPTOP+ NAV */
.vertical-nav-position {
	width: 100%;
	position: absolute;
	bottom: 17%;
	left: 0;
	
		@include laptop {
			bottom: 18%;
		}
		
		@include fullscreen {
			bottom: 20%;
		}
		
		@include large-display {
			bottom: 25%;
		}
}

/*SOCIAL NAVIGATION*/
.social-nav {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
		@include laptop {
			z-index: 100;
		}
}

.social-nav li {
  display: inline-block;
  font-size: 2rem;
  padding: 1.333rem;
  
	@include large-mobile {
		padding: 1.618rem;
	}
	
	@include mobile-to-tablet {
		padding: 2.618rem;
	}
  
	@include tablet {
		font-size: 2.618rem;
		padding: 3.25rem;
	}

	@include laptop {
		font-size: 1.618rem;
		padding: 2.618rem 4.25rem 0 1rem;
	}
	
	@include desktop {
		font-size: 2rem;
		padding: 2rem 3rem 0 3rem;
	}
	
	@include fullscreen {
		font-size: 2.5rem;
		padding: 4rem 4rem 0 4rem;
	}
	
	@include large-display {
		font-size: 2.618rem;
		padding: 4.618rem 6rem 0 4.618rem;
	}
}

.social-nav a {
	color: $soft-black;
}

.social-nav a:hover {
	color: $aqua;
}


/*WORKS NAV*/
.works-nav li {
	display: inline-block;
}
