/*MOBILE NAV */
.menu-controller-checkbox { display: none; }

.slide-left {
  .menu-controller-checkbox ~ ul { transition: left .5s ease; 
  }

  .menu-controller-checkbox:checked ~ ul { 
	left: 0; 
  }
}

.slide-left {
	position: relative;
		
		label {
		  color: $skyblue;
		  display: block;
		  font-size: 1.25rem;
		  position: absolute;
		  left: 0.5rem;
		  top: 0;
		  text-align: right;
		  width: 32px;
		  height: 32px;		  
		}
			
			@include laptop {
				display: none;
				visibility: hidden;
			}	
}

.mobile-menu {
    background-image: url(../img/nav.jpg);
    height: 180px;
    left: -100%;
    line-height: 2.618rem;
    position: absolute;
    top: 0;
    width: 100%;
	z-index: 1000;
	text-align: center;
	
		@include tablet {
			height: 40px;
			text-align: center;
			background-color: #fff;
		}
	
	li {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		font-size: 1.25rem;
		display: block;
		
			@include tablet {
				display: inline-block;
				padding: 0 1.618rem;
			}
	}
}

.menu-controller-label .fa-bars{
	padding: 0.35rem 0;
	margin: 0;
}



/*LAPTOP+ NAV*/
.vertical-nav {
	display: none;
	visibility: hidden;
	
	@include laptop {
		display: block;
		visibility: visible;
	}
}


.vertical-nav-position {
	width: 100%;
	position: absolute;
	bottom: 17%;
	left: 0;
	
		@include laptop {
			bottom: 18%;
		}
		
		@include fullscreen {
			bottom: 23%;
		}
}

/*SOCIAL NAVIGATION*/
.social-nav ul {
	
	@include large-mobile {
		margin-left: 1rem;
	}
	
	@include tablet {
		margin: 0;
	}
	
	@include laptop {
		margin-left: 0.618rem;
	}
	
	@include large-display {
		margin-left: 0;
	}
}

.social-nav li {
  display: inline-block;
  font-size: 1.618rem;
  padding: 1rem;
  
	@include large-mobile {
		font-size: 2em;
		padding: 1.618rem;
	}
  
	@include tablet {
		font-size: 2.618rem;
		margin-top: -3.618rem;
		padding: 3.25rem;
	}

	@include laptop {
		font-size: 1.618rem;
		margin-top: -200px;
		padding: 2rem;
	}
	
	@include desktop {
		font-size: 2rem;
		padding: 2.618rem;
	}
	
	@include fullscreen {
		font-size: 2.25rem;
		margin-left: 1.618rem;
	}
	
	@include large-display {
		font-size: 2.618rem;
		padding: 3.618rem;
	}
}

.social-nav a {
	color: $soft-black;
}

.social-nav a:hover {
	color: $aqua;
}


/*WORKS NAV*/
.works-nav {
	width: 100%;
	margin: 0 auto;
}

.works-nav h3 {
	font-size: 1em;
	letter-spacing: 0.618rem;
	
		@include laptop {
			font-size: 1rem;
		}
			
		@include desktop {
			font-size: 1.25rem;
		}
		
		@include fullscreen {
			font-size: 1.618rem;
		}
		
		@include large-display {
			font-size: 1.25rem;
			letter-spacing: 0.5rem;
		}
}

.works-nav li {
	display: inline-block;
	padding: 0 0.25rem;
	
		@include fullscreen {
			padding: 0 0.618rem;
		}
		
		@include large-display {
			padding: 0 1.618rem 0 0;
		}
}

.works-nav a {
	color: #000;
}

.works-nav a:hover {
	color: $aqua;
}