.about-content, .works-content, .connect-content {
	display: none;
}

.about-content:target, .connect-content:target  {
	display: grid;
	position: relative;
	width: 100%;
	background-color: $soft-white;
	padding: 1.618rem;
	
		@include laptop {
			animation: opacity 2s;
		}
}

.about-content:target {
	background-image: url(../img/about.jpg);
	background-size: cover;
	height: 120vh;
	
		@include large-mobile {
			height: 100vh;
		}
}

.works-content:target {
	display: block;
	background-image: url(../img/works.jpg);
	background-size: cover;
	overflow: auto;
		
		@include tablet {
			height: 100vh;
		}
}

.connect-content:target {
	background-image: url(../img/connect.jpg);
	background-size: cover;
	height: 100vh;
	
		@include large-mobile {
			height: 120vh;
		}
		
		@include tablet {
			height: 100vh;
		}
}

/*PROJECTS*/
.project-1, .project-2, .project-3, .project-4, .project-5, .project-6, .project-7, .project-8, .project-9 {
	display: none;
}

.project-1:target, .project-2:target, .project-3:target, .project-4:target, .project-5:target, .project-6:target, .project-7:target, .project-8:target, .project-9:target  {
	position: relative;
	display: block;
	width: 100%;
	overflow: auto;
	background-image: url(../img/project-side-b.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
		@include laptop {
			height: 100vh;
			animation: opacity 1.618s;
		}
}

/*GIF*/
.gif {
	display: none;
}

.gif:target {
	display: grid;
	width: 100%;
	height: 100vh;
	background-image: url(../img/origami_fox.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}



