.about-content, .works-content, .connect-content {
	display: none;
}

.about-content:target, .works-content:target, .connect-content:target  {
	display: block;
	position: relative;
	width: 100%;
	background-color: $soft-white;
	padding: 1.618rem 1.618rem 0 2.618rem;
	
		@include laptop {
			animation: opacity 2s;
		}
}

.about-content:target {
	background-image: url(../img/about.jpg);
	background-size: cover;
	height: 100vh;
	overflow: auto;
}

.works-content:target {
	display: block;
	background-image: url(../img/works.jpg);
	background-size: cover;
	overflow: auto;
		
		@include tablet {
			height: 100vh;
		}	
}

.connect-content:target {
	background-image: url(../img/connect.jpg);
	background-size: cover;
	height: 100vh;
}

/*PROJECTS*/

#top:target  {
	animation: opacity 4.235s;
}

/*GIF*/
.gif {
	display: none;
}

.gif:target {
	display: grid;
	width: 100%;
	height: 100vh;
	background-image: url(../img/origami_fox.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}



