@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Open+Sans");

/*GLOBALS*/
h1 {
	font-size: 3.25em;
	line-height: 1.2;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.75rem; 
		
		@include large-mobile {
			font-size: 3.5em;
		}
		
		@include tablet {
			font-size: 3.618em;
		}
		
		@include laptop {
			font-size: 2.618em;
		}
		
		@include desktop {
			font-size: 3.375em;
		}
}

h2 {
	font-size: 2.25em;	
}

h3 {
	font-size: 1.5em; 
}

h4 {
	font-size: 0.75em;
	padding: 1.5em 0 0.75em 0;

		@include tablet {
			font-size: 1rem;
		}
		
		@include laptop {
			font-size: 0.75rem;
		}
}

h5, figcaption {
	font-size: 0.5em;
	padding: 0.75em 0; 
		
		@include fullscreen {
			font-size: 0.75rem;
		}
}


h1, h2, h3, h4, h5, li, figcaption {
	font-family: Poppins, sans-serif; 
}

label {
	font-weight: 600;
}

h2, h3 {
	font-weight: 500;
	letter-spacing: 0.25rem;
	margin-bottom: 1.618rem;	
}

h4, h5, figcaption {
	font-weight: 600;
	margin: 0.5em 0;
	text-transform: uppercase;
	letter-spacing: 0.15rem; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.8; 
	margin-bottom: 1.25em;
	
		@include fullscreen {
			font-size: 1.25em;
		}
}

ul {
	list-style-type: none;	
}

li {
	font-weight: 300;
	line-height: 2;
}

a {
	text-decoration: none; 
	color: $soft-black;
}


.works-title {
	font-size: 1rem;
	color: $soft-black;
}


.content-grid a:hover {
	color: $skyblue;
}

label .fa-bars {
	font-size: 1.618em;
	padding: 0.618rem 0;
}

.vertical-text {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	color: #000;
	font-size: 1em;
	
		@include fullscreen {
			font-size: 1.25em;
		}
}

.vertical-text li {
	display: inline-block;
	padding: 0.25em 1.618em;
	font-weight: 500;
		
		@include fullscreen {
			padding: 0 1.618em;
		}
}

.vertical-text a:hover {
	color: $aqua;
}

.side-a h1, .section-header h1 {
	width: 100%;
	text-align: center;
}

.side-a a:hover {
	color: #fff;
}

.section-title {
	padding-top: 2.618rem;
}

.section-title {
	color: $skyblue;
	letter-spacing: 0.5rem;
	font-weight: 400;
}

.container p {
	font-size: 1.05rem;
	padding: 0.618rem 0;
		
		@include mobile-to-tablet {
			max-width: 80%;
			margin: 0 auto;
		}
		
		@include tablet {
			max-width: 66.666667%;
		}
	
		@include laptop {
			max-width: 80%;
			font-size: 1rem;
		}
		
		@include fullscreen {
			max-width: 66.666667%;
			font-size: 1.0625rem;
		}
		
		@include large-display {
			font-size: 1.125rem;
			max-width: 66.666667%;
		}
}

.container-projects a:link, .container-mobile a:link {
	color: $skyblue;
}

.container-projects a:visited, .container-mobile a:visited {
	color: $darkblue;
}

.container-projects a:hover, .container-mobile a:hover {
	color: $aqua;
}

.container-projects a:active, .container-mobile a:active, .container-projects a:focus, .container-mobile a:focus {
	color: $pink;
}

.container figure {
	max-width: 100%;
}

.container-projects p {
	font-size: 1.05rem;
	width: 80%;
		
		@include mobile-to-tablet {
			margin: 0 auto;
		}
	
		@include laptop {
			font-size: 1rem;
		}
		
		@include fullscreen {
			font-size: 1.0625rem;
		}
		
		@include large-display {
			font-size: 1.125rem;
			width: 100%;
			margin: 0;
		}
}

.projects-h1 {
	font-size: 2rem;
	color: $soft-black;
	padding: 1.618rem 1rem;
	line-height: 1.4;
	
		@include laptop {
			font-size: 1.618rem;
			letter-spacing: 0.7rem;
		}
}

.projects-h2 {
	font-size: 1.75rem;
	font-weight: 400;
	padding: 2.618rem 0 0 0;
	letter-spacing: 0.5rem;
}

.screenshot-h3, .screenshot-mobile-h3 {
	font-size: 1.25rem;
	font-weight: 400;
	margin: 2.618rem 0 0.618rem 0;
}

.screenshot-h3 {
	color: $soft-white;
	letter-spacing: 0.5rem;
}

.screenshot-mobile-h3 {
	color: $soft-black;
	letter-spacing: 0.25rem;
}

.footer a:link, .footer a:visited {
	color: $soft-white;
	padding-right: 1rem;
}

/*GLITCH EFFECT*/
.glitch, .glitch a:link, .glitch a:visited {
	&:before,
	&:after {
	color: #fff;
	display: block;
	content: 'Alex Ogden';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	}
	
	&:after {
	color: #f0f;
	z-index: 0;
	text-shadow: -1px 0 #0ff;
	background: transparent;
	}
	
	&:before {
	color: #fff;
	z-index: 15;
	text-shadow: -1px 0 $red;
}

&:hover {
&:before {
	animation: glitch 2s both infinite linear alternate-reverse;
}

&:after {
	animation: glitch 0.75s linear;
}
}
}

@keyframes glitch {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	
	33% {
		-webkit-transform: translate(2px, 0);
		transform: translate(2px, 0);
	}
	
	50% {
		-webkit-transform: translate(0, -2px);
		transform: translate(0, -2px);
	}
	
	66% {
		-webkit-transform: translate(-2px, 4px);
		transform: translate(-2px, 4px);
	}
	
	75% {
		-webkit-transform: translate(0, -2px);
		transform: translate(0, -2px);
	}
	
	100% {
		-webkit-transform: translate(-1px, 2px);
		transform: translate(-1px, 2px);
	}
	
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}