@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Open+Sans");

/*GLOBALS*/
h1 {
	font-size: 3.25em;
	line-height: 1.2;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.75rem; 
		
		@include large-mobile {
			font-size: 3.5em;
		}
		
		@include tablet {
			font-size: 3.618em;
		}
		
		@include laptop {
			font-size: 2.618em;
		}
		
		@include desktop {
			font-size: 3.375em;
		}
}

h2 {
	font-size: 2.25em;	
}

h3 {
	font-size: 1.5em; 
}

h4 {
	font-size: 0.75em;
	padding: 1.5em 0 0.75em 0; 
}

h5 {
	font-size: 0.5em;
	padding: 0.75em 0; 
}

h1, h2, h3, h4, h5, li {
	font-family: Poppins, sans-serif; 
}

label {
	font-weight: 600;
}

h2, h3 {
	font-weight: 500;
	letter-spacing: 0.25rem;
	margin-bottom: 1.618rem;	
}

h4, h5 {
	font-weight: 600;
	margin: 0.5em 0;
	text-transform: uppercase;
	letter-spacing: 0.15rem; 
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.8; 
	margin-bottom: 1.25em;
	
		@include fullscreen {
			font-size: 1.25em;
		}
}

ul {
	list-style-type: none;	
}

li {
	font-weight: 300;
	line-height: 2; 
}

a {
	text-decoration: none; 
	color: $soft-black;
}

label .fa-bars {
	font-size: 1.618em;
	padding: 0.618rem 0;
}

.vertical-text {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	color: #000;
	font-size: 1em;
	
		@include fullscreen {
			font-size: 1.25em;
		}
}

.vertical-text li {
	display: inline-block;
	padding: 0.25em 1.618em;
	font-weight: 500;
		
		@include fullscreen {
			padding: 0 1.618em;
		}
}

.vertical-text a:hover {
	color: $aqua;
}

.side-a h1 {
	width: 100%;
	text-align: center;
}

.side-a a:hover {
	color: #fff;
}

.heading {
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	padding:  1rem 0.5rem;
	color: $skyblue;
	margin: 0;
	
		@include tablet {
			font-size: 1.25em;
			padding-left: 1rem;
		}
		
		@include laptop {
			font-size: 1em;
		}
}

.content-grid p {
	font-size: 1.25em;
	padding: 1rem 0 0 1.618rem;
		
		@include tablet {
			font-size: 1.5rem;
		}
		
		@include laptop {
			font-size: 1rem;
		}
		
		@include desktop {
			font-size: 1.414rem;
		}
}


/*GLITCH EFFECT*/
.glitch {
	&:before,
	&:after{
	color: #000;
	display: block;
	content: 'Alex Ogden';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	}
	
	&:after {
	color: #f0f;
	z-index: -2;
	text-shadow: -1px 0 #0ff;
	background: transparent;
	}
	
	&:before {
	color: #fff;
	z-index: 15;
	text-shadow: -1px 0 $red;
}

&:hover {
&:before {
	animation: glitch 2s both infinite linear alternate-reverse;
}

&:after {
	animation: glitch 0.75s infinite linear;
}
}
}

@keyframes glitch {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	
	33% {
		-webkit-transform: translate(2px, 0);
		transform: translate(2px, 0);
	}
	
	50% {
		-webkit-transform: translate(0, -2px);
		transform: translate(0, -2px);
	}
	
	66% {
		-webkit-transform: translate(-2px, 4px);
		transform: translate(-2px, 4px);
	}
	
	75% {
		-webkit-transform: translate(0, -2px);
		transform: translate(0, -2px);
	}
	
	100% {
		-webkit-transform: translate(-1px, 2px);
		transform: translate(-1px, 2px);
	}
	
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}