/* MEDIA QUERIES */
$large-mobile-width: "screen and (min-width: 360px)";
$mobile-to-tablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 768px)";
$laptop-width: "screen and (min-width: 1024px)";
$desktop-width: "screen and (min-width: 1366px)";
$fullscreen-width: "screen and (min-width: 1680px)";
$large-display-width: "screen and (min-width: 1920px)";

/* CONTAINERS */
.centered-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*COLORS*/
$red: #d52b1e;
$aqua: #00ced1;
$skyblue: #22a3e9;
$pink: #f848f7;
$purple: #852484;
$soft-black: #1b1b1b;
$soft-white: #f7f7f7;
$green: #61ff6c;
$yellow: #fff000;
$orange: #ee5a35;